In [0]:
-- Create sample table

CREATE OR REPLACE TABLE student (
  id INT,
  name STRING,
  age INT,
  grade STRING
)

In [0]:
-- Insert sample rows
INSERT INTO student VALUES
  (1, 'Alice', 20, 'A'),
  (2, 'Bob', 21, 'B'),
  (3, 'Charlie', 22, 'A'),
  (4, 'Diana', 23, 'C')

-- Read (Select) all students
SELECT * FROM student

-- Update: Change grade for Bob to 'A'
UPDATE student SET grade = 'A' WHERE name = 'Bob'


-- Delete: Remove student with id = 4
DELETE FROM student WHERE id = 4


-- Create: Insert a new student

INSERT INTO student VALUES (5, 'Eve', 24, 'B')


-- Final state
SELECT * FROM student